@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .skills ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .sidebar-header {
        text-align: center;
    }
}

.sidebar {
    width: 300px; /* Lebar sidebar */
    background: #333; /* Warna latar belakang sidebar */
    padding: 15px;
}

.right-sidebar {
    position: fixed;       /* Menetapkan posisi tetap */
    top: 0;                /* Jarak dari bagian atas layar */
    left: 0;               /* Jarak dari bagian kiri layar */
    width: 250px;          /* Lebar sidebar, sesuaikan dengan kebutuhan */
    height: 100vh;         /* Tinggi penuh sesuai dengan layar */
    background-color: #f4f4f4; /* Warna latar belakang sidebar */
    overflow-y: auto;      /* Mengaktifkan scroll jika konten sidebar melebihi tinggi layar */
    padding: 20px;         /* Padding untuk konten dalam sidebar */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Memberikan bayangan untuk efek 3D */
    z-index: 1000;
}  

.contact-info {
    color: #ffffff;
    background-color: #444; /* Ganti warna latar belakang sesuai keinginan */
    padding: 10px 20px;
    text-align: center;
    list-style: none;
    border-radius: 5px;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.contact-item span {
    font-size: 16px;
}

.sidebar p {
    color: white;
}

.sidebar h3 {
    color: white;
}

.sidebar span {
    color: white;
}


.sidebar-header {
    background-color: #333; /* Ganti warna latar belakang sesuai keinginan */
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.separator {
    border-bottom: 1px solid #ccc;
}

.skills {
    width: 200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #444;
    border-radius: 5px;
}

.skills h3 {
    text-align: center;
}
  
.skills ul {
    list-style: none;
    padding: 0;
}
  
.skills li {
    margin-bottom: 10px;
    color:#f4f4f4
}
